{
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/**/*-ie.js",
        "src/header/*"
    ],
    "reporter": [
        "html",
        "text",
        "json-summary"
    ],
    "check-coverage": true,
    "branches": 90,
    "lines": 80,
    "functions": 80,
    "statements": 80
}